/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=McLaren&family=Work+Sans:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #118617;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-family: 'Kameron', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #118617;
    margin-bottom: 20px;
    text-align: center;
    font-size: 200%;
}

h3 {
    text-align: center;
    font-size: 120%;
    text-transform: uppercase;
}

p,
ul {
    padding: 0 2px;
}

div {
    line-height: 20px;
    margin-bottom: 20px;
}

hr {
    border-top: 1px solid #deec17;
    margin: 5px 0;
}

/* General section styles */
#reasons,
#info,
#bookclub-desc,
#meet-up,
#rules,
#high-fantasy,
#low-fantasy,
#grimdark-fantasy,
#portal-fantasy,
#urban-fantasy,
#steampunk-fantasy,
#fairytale-retelling-fantasy {
    margin: 20px auto;
    width: 90%;
}

/* Header */
header {
    background-color: #201f1f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #eff2ef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Kameron', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #43f44c;
}

#menu {
    font-size: 105%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #118617;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #201f1f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #eff2ef;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 1.75rem;
}

/* Main content */
main {
    background-color: #292828;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 43px;
    /* Apply flex for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center / cover;
    position: relative;
}

#cover-text {
    background-color: #211e1ea8;
    font-size: 110%;
    position: absolute;
    bottom: 150px;
    width: 85%;
    min-height: 100px;
    padding: 10px 10px;
}

#cover-text>h2,
#cover-text>p {
    color: #deec17;
}

/* Reasons and info sections */

#circle-cover-bg1 {
    background: url("../images/reasons-image.png") no-repeat center center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Turn square image into circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#circle-cover-bg2 {
    background: url("../images/info-image.png") no-repeat center center / cover;
    height: 90vw;
    width: 90vw;
    margin-bottom: 20px;
    /* Turn square image into circle */
    border-radius: 50%;
    max-width: 300px;
    max-height: 300px;
}

#reasons-image,
#info-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Subgenres & Recommendations page */
#high-fantasy img,
#low-fantasy img,
#grimdark-fantasy img,
#portal-fantasy img,
#urban-fantasy img,
#steampunk-fantasy img,
#fairytale-retelling-fantasy img {
    width: 100%;
    /* Adjust for image alt text */
    line-height: 1em;
}

/* Fanart gallery */
#photos img {
    width: 100%;
    /* Adjust for image alt text */
    line-height: 1em;
}

#photos {
    line-height: 0;
}

/* Book club page */


/* Map */
#map-wrapper {
    height: 300px;
    margin-bottom: 107px;
}

#map {
    height: 100%;
    width: 100%;
    border: none;
}

/* Form */
#signup {
    padding: 20px 10% 0 10%;
    flex-grow: 1;
    margin-bottom: 20px;
}

#signup-form {
    color: #deec17;
    padding: 30px;
    background-color: #211e1ea8;
}

#signup-form>h2 {
    color: #deec17;
    margin-bottom: 20px;
}

#signup-form>p {
    font-size: 80%;
    margin-top: 15px;
}

.text-input {
    background: transparent;
    color: #deec17;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #deec17;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #118617;
    color: #deec17;
}

/* Footer */
footer {
    background-color: #201f1f;
}

footer p {
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 5px;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    list-style-type: none;
}

#social-networks i {
    font-size: 150%;
    padding: 0 1.5rem;
    color: #118617;
}

/* Media query: large phones or landscape mode (576px plus) */
@media screen and (min-width: 576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger devices (768px plus) */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: auto;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
        max-width: min-content;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 230%;
        line-height: 50px;
        margin: 0 0.5rem;
    }

    /* Main content */
    main {
        /* Push main content to show underneath larger header */
        margin-top: 75px;
    }

    /* Hero */
    #cover-text {
        margin: 5%;
    }

    #cover-text>h2,
    #cover-text>p {
        text-align: center;
    }

    /* Subgenres & Recommendations page */
    #high-fantasy img,
    #low-fantasy img,
    #grimdark-fantasy img,
    #portal-fantasy img,
    #urban-fantasy img,
    #steampunk-fantasy img,
    #fairytale-retelling-fantasy img {
        max-width: 50%;
        max-height: 50%;
    }

    /* Fanart gallery */
    #photos {
        column-count: 3;
    }

    /* Form */
    #signup {
        display: flex;
        justify-content: center;
    }

    #signup-form {
        max-width: 400px;
    }

    .text-input:hover {
        border-color: #118617;
    }

    .join-button:hover {
        background-color: #deec17;
        color: #118617;
    }
}

/* Media query: laptops and desktops large devices (992px plus) */
@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #118617;
    }

    #cover-text {
        width: 600px;
        margin: 5% 30%;
    }

    /* Subgenres & Recommendations page */
    #high-fantasy img,
    #low-fantasy img,
    #grimdark-fantasy img,
    #portal-fantasy img,
    #urban-fantasy img,
    #steampunk-fantasy img,
    #fairytale-retelling-fantasy img {
        max-width: 20%;
        max-height: 20%;
    }

    /* Fanart gallery */
    #photos {
        column-count: 4;
    }
}