/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Kameron:wght@400;700&family=McLaren&family=Work+Sans:ital@0;1&display=swap');

/* Asterisk wildcard selector to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #118617;
    font-family: 'Work Sans', sans-serif;
}

/* Header */
header {
    background-color: #201f1f;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 3px #eff2ef;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: 'Kameron', serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #43f44c;
}

#menu {
    font-size: 105%;
    letter-spacing: 1px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1rem;
}

.active {
    border-bottom: 1px solid #118617;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #201f1f;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 3px 3px #eff2ef;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
    background-color: lightblue;
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 43px;
}

/* Footer */
footer {
    background-color: orange;
}